- var pageTitle = 'Pengenalan TKPPL'

include presentation-header

include menu

article#presentation

	section
		h2 Hardware

	section
		h2 Pengertian Hardware
		ul
			li Hardware dalam bahasa indonesianya disebut juga dengan nama perangkat keras adalah salah satu komponen dari sebuah komputer yang sifat alat nya bisa dilihat dan diraba oleh manusia secara langsung atau yang berbentuk nyata, yang berfungsi untuk mendukung proses komputerisasi.

include presentation-footer
include main-footer
