nav(class="navbar navbar-default", role="navigation")
	div(class="container")
		div(class="navbar-header")

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Presentasi <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="1-Introduction.html">Pengenalan Komponen Komputer</a>
<<<<<<< HEAD
						li <a href="Hardware.html">Hardware</a>
						li <a href="Software.html">Software</a>	
						li <a href="Brainware.html">Brainware</a>
					
=======
						li <a href="2-TeknologiKolaborasi.html">Hardware</a>
						li <a href="3-PresentasiDenganBespokeJS.html">Software</a>
						li <a href="4-SCRUM.html">Brainware</a>
>>>>>>> 3e47f6a958b95353969e977696435e01bcf9fdf7
						

