- var pageTitle = 'Presentasi dengan Bespoke.JS'

include presentation-header

include menu

article#presentation

	section
		h2 Software

	section
		h2 Perkembangan software
		ul
			li Perkembangan software dibagi kedalam empat periode yaitu :
			li Periode Pioner 
			li Periode Stabil 
			li Periode Mikro 
			li Periode Modern 

include presentation-footer
include main-footer
